.footer-menu {
  &__top-title {
  @extend %sf-bold;
  font-size: $fs-smaller;
  line-height: $lh-extra-small;
  color: $main-text;
}

&__list {
  font-size: $fs-smaller;
  line-height: $lh-smaller;
  color: $main-text;
}
}