.catalog {
  margin-bottom: 100px;

  &__filter {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  

  &__inner {
    display: flex;
  }

  &__inner-asside {
    min-width: 270px;
    max-width: 270px;
    margin-right: 10px;
  }

  &__product-list {
    display: flex;
    flex-wrap: wrap;
    min-height: 1400px;
  }

  &__inner-list .product-item__wrapper {
    margin-bottom: 30px;
  }


}
