.adress {
  margin-right: 60px;
  width: 265px;
  padding-left: 30px;
  position: relative;

  .adress::before {
    content: "";
    position: absolute;
    background-image: url("../images/adress-icon.svg");
    background-repeat: no-repeat;
    width: 30px;
    height: 40px;
    left: 0;
    top: -10px;
  }
  
  .adress:hover {
    color: $active;
  }
}

