.aside-filter {
  margin-right: 10px;
  min-width: 280px;

  &__btn {
    display: none;
  }

  &__item {
    margin: 25px 0;
  }

  &__item-btn {
    text-align: center;
  }

  &__btn-send {
    font-size: $fs-smaller;
    line-height: $lh-extra-small;
    letter-spacing: 0.12em;
    padding: 16px 82px;
    margin-bottom: 15px;
  }

  &__btn-reset {
    font-size: $fs-smaller;
    line-height: $lh-extra-small;
    background-color: $transparent;
    padding: 0;
    border: none;
    border-bottom: 1px solid $additional;
    display: inline-block;
    color: $additional;
    cursor: pointer;
  }
}

@media (max-width: 902px) {
  .aside-filter {
    width: 100%;

    &__item {
      margin: 10px 0;
    }
  }
}
