@media (max-width: 1100px) {
  .tabs__box {
    &>.tabs>.tabs__list {
      justify-content: normal !important;
      padding: 0 15px;
    }
  }
}

@media (max-width: 968px) {
  .header__bottom {
    display: none;
  }

  .banner-inner {
    flex-wrap: wrap;
  }

  .search {
    &__content-form {
      position: relative;
    }

    &__content-input {
      height: 50px;
      padding-right: 50px;
    }

    &__content-btn {
      font-size: 0;
      line-height: 0;
      padding: 17px;
      background-image: url("/images/search.svg");
      background-repeat: no-repeat;
      width: 24px;
      height: 24px;
      background-color: transparent;
      position: absolute;
      right: 08px;
      top: 13px;
    }
  }


  .aside-filter {
    &__btn {
      display: block;
      text-transform: uppercase;
      font-weight: $bold;
      text-align: center;
      padding: 15px 0;
      width: 100%;
      color: $base;
      background-color: $active;
      margin-bottom: 30px;
    }

    &__active {
      display: block;
    }
  }
}

@media (max-width: 940px) {
  .footer {
    &__top-item {
      margin-bottom: 25px;
    }
  }

  .catalog {
    &__inner-list {
      justify-content: space-around;
    }

    &__filter {
      display: block;
    }

    &__filter-btn {
      margin-top: 30px;
    }

    &__filter-btn button {
      display: none;
    }
  }
}


@media (max-width: 910px) {
  .filter-btn {
    display: block !important;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    padding: 15px 0;
    width: 100%;
    color: #ffffff;
    background-color: #1C62CD;
    margin-bottom: 30px;
  }
}

@media (max-width: 720px) {
  .footer__top-item {
    margin-bottom: 25px;
  }
}

@media (max-width: 640px) {
  .header {
    &__adress {
      display: none;
    }
  }

  .catalog {
    &__inner {
      flex-wrap: wrap;
    }
  }

  .footer {
    &__top-inner {
      justify-content: space-around;
    }

    &__top-item {
      margin: 0 auto 15px;
    }

    &__top-item:not(:first-child) {
      border-bottom: 1px solid $background;
      padding-bottom: 5px;
    }

    &__top-item:first-child {
      width: 100%;
    }

    &__top-item:last-child {
      width: 100%;
    }
  }
}

@media (max-width: 540px) {
  .footer {
    &__top-inner {
      justify-content: start;
    }

    &__top-item {
      width: 100%;
    }
  }
}

@media (max-width: 440px) {
  .banner-slider {
    &__img {
      min-height: 164px;
    }
  }

  .pagination__item {
    margin: 0;
  }
}