.banner-inner > .splide {
  width: calc(100% - 290px);
  max-width: 870px;
  margin-right: 20px;
  height: 400px;

  &__slide {
    display: flex;
    justify-content: center;
    width: calc(100% - 260px);
  }

  &__slide > img {
    height: auto;
    width: 171%;
    object-position: center;
  }

  & > .splide__arrows > .splide__arrow {
    background-color: $transparent;

    & > svg {
      fill: $base;
      width: 1.5em;
      height: 1.5em;
    }
  }
}

.page-section > .splide {
  width: 100%;
  &__list {
    width: 100%;
  }

  &__slide {
    display: flex;
    width: 100%;
  }

  &> .splide__arrows > .splide__arrow {
    background-color: $transparent;

    & svg {
      fill: $main-text;
      width: 1.5em;
      height: 1.5em;
    }
  }
}

.products__inner > .splide > .splide__arrows > .splide__arrow {
  background-color: $transparent;

    & svg {
      fill: $main-text;
      width: 1.5em;
      height: 1.5em;
    }
  }

@media (max-width: 968px) {
  .banner-inner > .splide {
    width: 100%;
    height: 380px;
    margin-bottom: 30px;
  }
}

@media (max-width: 620px) {
  .banner-inner > .splide {
    height: 220px;

    > .splide__track > .splide__list {
      height: 220px;
    }

    > .splide__track > .splide__list > .splide__slide > img {
      height: 220px;
      width: 100%;
    }
  }

  .page-section > .splide {
    width: 100%;
    &__list {
      width: 100%;
    }
  
    &__slide {
      display: flex;
      width: 100%;
    }
}

.splide > .splide__arrows {
  display: none;
}
}