.footer {
  background: $base;

  &__top {
    padding-top: 43px;
  }

  &__top-inner {
    display: flex;
    justify-content: space-between;
  }

  &__top-item {
    width: 200px;
  }

  &__top-title {
    @extend %sf-bold;
    font-size: $fs-smaller;
    line-height: $lh-extra-small;
    color: $main-text;
  }
}
