.footer {
  background: $base;

  &__top {
    padding-top: 43px;
  }

  &__top-inner {
    display: flex;
    justify-content: space-between;
  }

  &__top-item {
    width: 200px;
  }

  &__top-title {
    @extend %sf-bold;
    font-size: $fs-smaller;
    line-height: $lh-extra-small;
    color: $main-text;
  }

  &__top-lewsletter {
    width: 295px;
    margin-right: 50px;
  }

  &__bottom {
    display: flex;
    justify-content: center;
    padding: 46px 0 22px;
  }

  &__bottom-link {
    font-size: 10px;
    line-height: 12px;
    color: #48494d;
    margin: 0 40px;
  }

  &__topdrop {
    pointer-events: none;
  }
}
